body, html{
    margin: 0;
    padding: 0;
    font-family: verdana;
    height: 100%;
    width: 100%;

}

.display{
    height: 100%;
    display: flex;
}
/* Menu lateral (logo e botões) */
#menu-lateral {
    background-color: black;
    /* padding: 20px 0px 0px 20px; */
    padding-left: 20px;
    min-height: 100%;
    width: 10%;
    
}

/* Logo */
#logo img {
    width: 100px;
}

#logo {
    padding-top: 20px;
    margin-bottom: 50px;

}

/* icone-lateral (Imagem e Texto com animação) */
.icone-lateral {
    /* background-color: rgba(255, 255, 255, 0.651); */
    margin: 10px;
    padding: 10px;
}

.icone-lateral img {
    width: 60px;
}


#menu-lateral img {
    cursor: pointer;

}

/* Botão início */
#menu-home img{
    width: 50px;
    padding-right:30px ;
}

#menu-home {
    background-color: #88782100 ;
    width: 185px;
    position: relative;
    display: flex;
    font-size: 25px;
    color: rgba(255, 255, 0, 0);
    font-weight: 900;
    margin-bottom: 40px;
    
}

#txt-tit1 {
    padding-top: 10px;
}

/* Botão jogos */
#menu-quadra img{
    width: 50px;
    padding-right:30px ;
}

#txt-tit2 {
    padding-top: 10px;
}

#menu-quadra {
    background-color: #88782100 ;
    width: 180px;
    position: relative;
    display: flex;
    font-size: 25px;
    font-weight: 900;
    color: rgba(255, 255, 0, 0);
    margin-bottom: 40px;
}

/* Botão jogos */
#menu-news img{
    width: 50px;
    padding-right:30px ;
}

#txt-tit3 {
    padding-top: 10px;
}

#menu-news {
    background-color: #88782100 ;
    width: 225px;
    position: relative;
    display: flex;
    font-size: 25px;
    font-weight: 900;
    color: rgba(255, 255, 0, 0);
    margin-bottom: 40px;
}

/* Botão perfil */
#menu-perfil img{
    width: 50px;
    padding-right:30px ;
}

#txt-tit4 {
    padding-top: 5px;
}

#menu-perfil {
    background-color: #88782100 ;
    width: 205px;
    position: relative;
    display: flex;
    font-size: 30px;
    font-weight: 900;
    color: rgba(255, 255, 0, 0);
    margin-bottom: 40px;
}


/* HOVER MENU LATERAL */
/* Animação botão início */
#menu-home:hover  {
    background-color: #887821f8 ;
    /* width: 280px; */
    position: relative;
    display: flex;
    color: rgb(0, 0, 0);
}

/* Animação botão jogos */
#menu-quadra:hover  {
    background-color: #887821f8 ;
    /* width: 280px; */
    position: relative;
    display: flex;
    color: rgb(0, 0, 0);
}

/* Animação botão notícias */
#menu-news:hover  {
    background-color: #887821f8 ;
    /* width: 280px; */
    position: relative;
    display: flex;
    color: rgb(0, 0, 0);
}

/* Animação botão perfil */
#menu-perfil:hover  {
    background-color: #887821f8 ;
    /* width: 280px; */
    position: relative;
    display: flex;
    color: rgb(0, 0, 0);
}
/* FIM HOVER MENU LATERAL */

.fundo{
    background-color: blue;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 30px;

}